[data-theme='doctor'] {
	--text-scaling: 1.125;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: 'Montserrat Variable', sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: 'Montserrat Variable', sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: 'Montserrat Variable', sans-serif;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.45% 0.07 196.04deg);
	--color-primary-100: oklch(90.47% 0.09 199.21deg);
	--color-primary-200: oklch(85.52% 0.11 202.9deg);
	--color-primary-300: oklch(81.02% 0.12 204.61deg);
	--color-primary-400: oklch(76.7% 0.13 208.03deg);
	--color-primary-500: oklch(72.91% 0.13 210.8deg);
	--color-primary-600: oklch(66.26% 0.12 212.04deg);
	--color-primary-700: oklch(59.49% 0.1 214.41deg);
	--color-primary-800: oklch(52.21% 0.09 217.64deg);
	--color-primary-900: oklch(45% 0.08 221.82deg);
	--color-primary-950: oklch(37.43% 0.07 226.46deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(94.97% 0.08 195.92deg);
	--color-secondary-100: oklch(88.98% 0.09 198.35deg);
	--color-secondary-200: oklch(83.25% 0.1 198.64deg);
	--color-secondary-300: oklch(77.4% 0.11 200.49deg);
	--color-secondary-400: oklch(71.94% 0.11 200.91deg);
	--color-secondary-500: oklch(66.46% 0.11 203.28deg);
	--color-secondary-600: oklch(59.68% 0.1 204.51deg);
	--color-secondary-700: oklch(53.01% 0.09 206.08deg);
	--color-secondary-800: oklch(45.78% 0.08 208.29deg);
	--color-secondary-900: oklch(38.59% 0.07 211.35deg);
	--color-secondary-950: oklch(30.67% 0.05 216.16deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(97.79% 0.02 203.02deg);
	--color-tertiary-200: oklch(95.88% 0.05 201.04deg);
	--color-tertiary-300: oklch(94.01% 0.07 201.51deg);
	--color-tertiary-400: oklch(92.48% 0.09 200.81deg);
	--color-tertiary-500: oklch(90.98% 0.11 201.22deg);
	--color-tertiary-600: oklch(83.51% 0.11 201.24deg);
	--color-tertiary-700: oklch(76.02% 0.11 202.13deg);
	--color-tertiary-800: oklch(68.6% 0.1 201.51deg);
	--color-tertiary-900: oklch(60.94% 0.1 202.83deg);
	--color-tertiary-950: oklch(53.13% 0.09 203.76deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(93.18% 0.11 153.74deg);
	--color-success-100: oklch(87.24% 0.13 153.95deg);
	--color-success-200: oklch(81.61% 0.15 153.52deg);
	--color-success-300: oklch(75.88% 0.16 153.05deg);
	--color-success-400: oklch(70.54% 0.17 151.57deg);
	--color-success-500: oklch(65.18% 0.18 149.59deg);
	--color-success-600: oklch(58.59% 0.16 148.53deg);
	--color-success-700: oklch(51.52% 0.15 147.4deg);
	--color-success-800: oklch(44.53% 0.13 146.15deg);
	--color-success-900: oklch(36.9% 0.11 144.68deg);
	--color-success-950: oklch(29.18% 0.1 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.93% 0.12 108.38deg);
	--color-warning-100: oklch(95.08% 0.14 103.26deg);
	--color-warning-200: oklch(92.12% 0.15 98.58deg);
	--color-warning-300: oklch(89.5% 0.16 94.62deg);
	--color-warning-400: oklch(86.79% 0.17 89.93deg);
	--color-warning-500: oklch(84.42% 0.17 84.93deg);
	--color-warning-600: oklch(77.14% 0.16 83.67deg);
	--color-warning-700: oklch(69.69% 0.14 82.12deg);
	--color-warning-800: oklch(62.04% 0.13 80.07deg);
	--color-warning-900: oklch(54.15% 0.11 77.41deg);
	--color-warning-950: oklch(45.98% 0.1 73.62deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(85.01% 0.08 20.78deg);
	--color-error-100: oklch(79.18% 0.11 19.01deg);
	--color-error-200: oklch(73.41% 0.13 17.98deg);
	--color-error-300: oklch(68.17% 0.16 18deg);
	--color-error-400: oklch(63.26% 0.18 19.07deg);
	--color-error-500: oklch(59.16% 0.2 21.24deg);
	--color-error-600: oklch(53.3% 0.19 22.22deg);
	--color-error-700: oklch(47.38% 0.17 23.61deg);
	--color-error-800: oklch(41.04% 0.15 24.63deg);
	--color-error-900: oklch(34.78% 0.13 26.62deg);
	--color-error-950: oklch(28% 0.11 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
