@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@fontsource-variable/montserrat';
@import '../doctor-theme.css';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
/* Add your theme import for your theme: "doctor-theme" here */

@tailwind utilities;
@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@theme {
	--breakpoint-xxs: 290px;
	--breakpoint-xs: 639px;

	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
	--shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
	--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);

	--animate-marquee-left: marquee-left 15s linear infinite;
	--animate-marquee-up: marquee-up 15s linear infinite;
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1s ease-out infinite;
	--animate-scale-in: scale-in 0.2s ease;
	--animate-scale-out: scale-out 0.15s ease;
	--animate-fade-in: fade-in 0.2s ease;
	--animate-fade-out: fade-out 0.15s ease;
	--animate-enter-from-left: enter-from-left 0.2s ease;
	--animate-enter-from-right: enter-from-right 0.2s ease;
	--animate-exit-to-left: exit-to-left 0.2s ease;
	--animate-exit-to-right: exit-to-right 0.2s ease;

	@keyframes marquee-left {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-50%);
		}
	}

	@keyframes marquee-up {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(-100%);
		}
	}

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	@keyframes enter-from-right {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enter-from-left {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}

	@keyframes exit-to-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}

	@keyframes scale-in {
		from {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.9);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
	}

	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

html,
body {
	@apply h-full;
}

:root [data-theme='doctor-theme'] {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-thumb {
	background: #cfedf0;
	border-radius: 5px;
}

.NavigationMenuContent {
	position: absolute;
	top: 0;
	left: 0;
	animation-duration: 250ms;
	animation-timing-function: ease;
}
.NavigationMenuContent[data-motion='from-start'] {
	animation-name: enter-from-left;
}
.NavigationMenuContent[data-motion='from-end'] {
	animation-name: enter-from-right;
}
.NavigationMenuContent[data-motion='to-start'] {
	animation-name: exit-to-left;
}
.NavigationMenuContent[data-motion='to-end'] {
	animation-name: exit-to-right;
}

.NavigationMenuViewport {
	position: relative;
	width: var(--bits-navigation-menu-viewport-width);
	height: var(--bits-navigation-menu-viewport-height);
	transition:
		width,
		height,
		250ms ease;
}

.placeholder {
	@apply bg-secondary-200;
}

.placeholder-circle {
	@apply bg-secondary-200;
}

.fadeout-horizontal {
	mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

@media (min-width: 768px) {
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-thin {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 1px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
	}

	.link-underline-white {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%;
	}

	.link-underline-white:hover {
		background-size: 100% 2px;
		background-position: 0 100%;
	}
}
