@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
html,
body {
	@apply h-full overflow-hidden;
}

:root {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
