@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@fontsource-variable/montserrat';
@import '../doctor-theme.css';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
/* Add your theme import for your theme: "doctor-theme" here */

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--breakpoint-xxs: 290px;
	--breakpoint-xs: 639px;

	--animate-marquee-left: marquee-left 15s linear infinite;
	--animate-marquee-up: marquee-up 15s linear infinite;

	@keyframes marquee-left {
		/* 0% {
			transform: translateX(0%);
		} */
		100% {
			transform: translateX(-50%);
		}
	}

	@keyframes marquee-up {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(-100%);
		}
	}
}

html,
body {
	@apply h-full;
}

:root [data-theme='doctor-theme'] {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-thumb {
	background: #cfedf0;
	border-radius: 5px;
}

.placeholder {
	@apply bg-secondary-200;
}

.placeholder-circle {
	@apply bg-secondary-200;
}

.fadeout-horizontal {
	mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

@media (min-width: 768px) {
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-thin {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 1px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
	}

	.link-underline-white {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%;
	}

	.link-underline-white:hover {
		background-size: 100% 2px;
		background-position: 0 100%;
	}
}
