@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='doctor-theme'] {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-thumb {
	background: #cfedf0;
	border-radius: 5px;
}

.placeholder {
	@apply bg-secondary-200;
}

.placeholder-circle {
	@apply bg-secondary-200;
}

@media (min-width: 768px) {
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-thin {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 1px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.3s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
	}

	.link-underline-white {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%;
	}

	.link-underline-white:hover {
		background-size: 100% 2px;
		background-position: 0 100%;
	}
}
